/* Write your CSS here
.main {
  background-color: violet;
  color: white;
  border-radius: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 10%;
  left: 20%;
  width: 500px;
  height: 700px;
  align-items: center;
  justify-content: center;
}
ul {
  border: 2px solid black;
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
button {
  border: none;
  background-color: red;
  color: white;
  height: 50px;
  width: 100px;
}
p {
  font-size: larger;
} */

/* Styling for the CashWithdrawal component */
/* Styling for the CashWithdrawal component */
/* Styling for the CashWithdrawal component */
.main {
  max-width: 400px;
  background-color: #150b3e; /* Dark purple background */
  color: #c7d2fe; /* Light blue text color */
  border-radius: 10px;
  padding: 20px;
  font-family: 'Roboto', sans-serif; /* Use Roboto font */
}

h2,
.text1,
p {
  margin: 0;
}

.text1,
.text2 {
  font-size: small;
  color: #7c3aed; /* Purple text color for labels */
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  display: inline-block;
  margin-right: 10px;
}

button {
  background-color: #d4d2db; /* Light gray button background */
  color: #585076; /* Dark gray button text color */
  border: none;
  padding: 5px 10px;
  border-radius: 1px;
  cursor: pointer;
}
